nextflow.enable.dsl=2

params {
  samplesheet = 'resources/samplesheet.csv'
  controls_sheet = 'resources/chip_inputs.csv'
  outdir = 'results'
  genome = 'hg19'
  genome_fasta = null
  bowtie2_index = null
  bismark_index = null
  mapq = 30
  peak_qvalue = 0.01
  min_required_probe_fraction = 0.80
}

process {
  executor = 'local'
  cpus = 2
  memory = '4 GB'
  time = '6h'
  withLabel: big_mem {
    cpus = 8
    memory = '32 GB'
    time = '24h'
  }
}
